In [1]:
# Manipulação do dataset
import pandas as pd

# Algoritmos de mineração
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# Análise de dado com gráfico
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
caminho_arquivo = 'data/olist_order_payments_dataset.csv'

df = pd.read_csv(caminho_arquivo)

print("Dataset carregado!")
df.head() # prévia do dataset

Dataset carregado!

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [7]:
print("Algumas informações do dataset:")
df.info()

print(f"O dataset possui {df.shape[0]} linhas e {df.shape[1]} colunas")

print("Principais estatísticas:")
df.describe()

Algumas informações do dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
O dataset possui 103886 linhas e 5 colunas
Principais estatísticas:

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [8]:
tipos_de_pagamento = df['payment_type'].value_counts()

print(f"Os tipos de pagamento encontrados: {tipos_de_pagamento}")

Os tipos de pagamento encontrados: payment_type
credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: count, dtype: int64

In [ ]:
df_limpo = df[df['payment_type'] !='not_defined'].copy()

print("Tipos de pagamento após limpeza:", df_limpo['payment_type'].value_counts()) # ou .unique() só para ver os tipos possíveis

Tipos de pagamento após limpeza: ['credit_card' 'boleto' 'voucher' 'debit_card']

In [14]:
COLUNA_TRANSACAO = 'order_id'
COLUNA_ITEM = 'payment_type'

tabela = (df_limpo.groupby([COLUNA_TRANSACAO, COLUNA_ITEM])[COLUNA_ITEM].count().unstack().reset_index().fillna(0).set_index(COLUNA_TRANSACAO))

def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
    
tabela_binaria = tabela.map(encode_units)

tabela_binaria.head()

payment_type                      boleto  credit_card  debit_card  voucher
order_id
00010242fe8c5a6d1ba2dd792cb16214       0            1           0        0
00018f77f2f0320c557190d7a144bdd3       0            1           0        0
000229ec398224ef6ca0657da4fc703e       0            1           0        0
00024acbcdf0a6daa1e931b038114c75       0            1           0        0
00042b26cf59d7ce69dfabb4e55b4fd9       0            1           0        0